{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content%}
<div class="container" >

    <h2 style="text-align: center"> Top Technology News Sources</h2>
    <hr>
    {{macro.displaySourceList(technology_sources)}}

    <h2 style="text-align: center">Top Business New Sources</h2>
    <hr>
    {{ macro.displaySourceList(sources)}}

    <h2 style="text-align: center" >Top Entertainment News</h2>
    <hr>
    {{ macro.displaySourceList(entertainment_sources)}}

    <h2 style="text-align: center">Top Sport News Sources</h2>
    <hr>
    {{ macro.displaySourceList(sports_sources)}}

</div>

{% endblock%}
